#con6 {
  margin-top: 10pc;
  margin-bottom: 5pc;
}

#con6 .box {
  margin-top: 2pc;
  padding: 2pc;
  background: #f4ecda;
  width: 100%;
  height: 32pc;
}

#con6 .card {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: #faf7f2;
  border: none;
  border-radius: 0;
  margin-top: 22px;
  width: 100%;
  height: 7pc;
}
#con6 .card img {
  width: 8pc;
  height: 6pc;
  margin-top: 0px;
}

#con6 .card .details {
  margin-left: 10px;
  margin-top: 15px;
}
#con6 .card .details i {
  color: gold;
}
