<div class="container" *ngIf="isform">
  <div class="header">Your Order</div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img [src]="product.imageUrl" alt="orderproduct" />
    </div>
    <div class="col">
      <div class="details">
        <p>
          <span>{{ product.pname }}</span>
        </p>
        <p><span>Quantity:</span>{{ quantity }}</p>
        <p><span>Total price:</span>{{ product.price * quantity }}/-</p>
        <p>You have saved 480/-</p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container" *ngIf="isform">
  <div class="box p-4">
    <div class="header mb-4">Billing Details</div>
    <form [formGroup]="orderform" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="orderid" class="form-label">Order ID</label>
          <input
            type="text"
            class="form-control"
            id="orderid"
            formControlName="orderid"
          />
          <div
            *ngIf="
              orderform.get('orderid').invalid &&
              orderform.get('orderid').touched
            "
            class="text-danger"
          >
            Order ID is required.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="fullname" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fullname"
            formControlName="fullname"
          />
          <div
            *ngIf="
              orderform.get('fullname').invalid &&
              orderform.get('fullname').touched
            "
            class="text-danger"
          >
            Full Name is required.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="pincode" class="form-label">Pincode</label>
          <input
            type="text"
            class="form-control"
            id="pincode"
            formControlName="pincode"
          />
          <div
            *ngIf="
              orderform.get('pincode').invalid &&
              orderform.get('pincode').touched
            "
            class="text-danger"
          >
            Pincode must be 6 digits long.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="phnumber" class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phnumber"
            formControlName="phnumber"
          />
          <div
            *ngIf="
              orderform.get('phnumber').invalid &&
              orderform.get('phnumber').touched
            "
            class="text-danger"
          >
            Phone number must be 10 digits long.
          </div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="address" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            formControlName="address"
          />
          <div
            *ngIf="
              orderform.get('address').invalid &&
              orderform.get('address').touched
            "
            class="text-danger"
          >
            Address is required.
          </div>
        </div>

        <button type="submit" class="btn btn-primary rounded form-control mt-3">
          Confirm Order
        </button>
      </div>
    </form>
  </div>
</div>

<div id="successBox" class="success-box" *ngIf="showSuccess">
  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
    <path
      class="checkmark__check"
      fill="none"
      d="M14.1 27.2l7.1 7.2 16.7-16.8"
    />
  </svg>
  <p class="mt-3">Order placed successfully!</p>
</div>
