<div class="contaier-fluid">
  <div class="row">
    <div class="col-4">
      <img src=".." alt="" />
    </div>
    <div class="col-2">
      <h5>Useful Links</h5>
      <p>About us</p>
      <p>Services</p>
      <p>About us</p>
      <p>Services</p>
    </div>
    <div class="col-2">
      <h5>Useful Links</h5>
      <p>About us</p>
      <p>Services</p>
      <p>About us</p>
      <p>Services</p>
    </div>
    <div class="col-4">
      <h5>News Letter</h5>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus,
        sunt ducimus, a odit eveniet iusto debitis ad facilis aperiam temporibus
        ut molestias dignissimos, beatae voluptatum natus nemo? Mollitia,
        voluptate. Est.
      </p>
    </div>
  </div>
</div>
