input {
  border-radius: 0;
  background: transparent;
  padding: 0.5pc;
  border: solid 1px;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin-right: 3pc;
  font-size: 1.8em;
  font-weight: 600;
  cursor: pointer;
}
.profile h4 {
  margin-left: 25px;
  margin-top: 14px;
}
.profile h4 span {
  color: rgb(241, 108, 131);
}
.reviewtext i {
  color: gold;
}
img {
  width: 100px;
  height: auto;
}
hr {
  border: 1px solid;
}
