img {
  margin-top: 5pc;
  width: 37pc;
  height: auto;
  margin-bottom: 3pc;
}

.flower img {
  width: 10pc;
  margin-left: 35pc;
  height: auto;
}

.flower-1 img {
  width: 15pc;
  margin-left: 30pc;
  margin-top: -15pc;
  height: auto;
}
.bgflowe img {
  width: 10pc;
  height: auto;
  position: relative;
  bottom: 42pc;
  left: 11pc;
  z-index: -1;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#con2 .text {
  margin-left: 7pc;
}
#con2 .text h2 {
  font-size: 45px;
  font-weight: 600;
}
#con2 .text span {
  font-size: 16px;
}
.side-2 img {
  width: 28pc;
  margin-left: 14pc;
}

@media (max-width: 767px) {
  img {
    width: 100%;
    margin-top: 3pc;
    margin-bottom: 2pc;
  }
  .flower img {
    width: 0px;
    margin-left: 0;
    height: 0;
  }

  .flower-1 img {
    width: 0px;
    margin-left: 0px;
    margin-top: 0;
    height: 0;
  }
  #con2 .text {
    font-size: 1.2em;
    margin-left: 0;
    text-align: center;
  }
  .side-2 img {
    width: 100%;
    margin-left: 0;
  }
  .bgflowe img {
    width: 0%;
  }
}
