.content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

#con1 {
  overflow: hidden;
  background: url("/assets/homebg-1.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;

  border-radius: 0;
  cursor: pointer;
  border: none;
  background: #111;
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;

  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: rgb(185, 185, 184);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
#con1 .row {
  margin-top: 6pc;
}
#con1 .col-5 img {
  width: 38pc;
  height: auto;
}
#con1 .text h5 {
  font-size: 25px;
  margin-top: 8pc;
  font-weight: 200;
}
#con1 .text h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 2pc;
}
#con1 .text p {
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
  margin-top: 1pc;
}

.content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

#con11 {
  margin-top: 3pc;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-content img {
  display: inline-block;
  padding: 0 10px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
}

#con3 {
  margin-top: -20pc;
  margin-bottom: 5pc;
  cursor: pointer;
}

#con3 img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#con3 i {
  font-size: 20px;
  color: gold;
}

@media (max-width: 768px) {
  #con1 {
    background: url("/assets/homebg-1.jpg");
    background-size: cover;
    height: auto;
    padding: 20px;
  }
  #con1 .row {
    margin-top: 0pc;
  }

  #con1 .animated-btn {
    font-size: 14px;
    padding: 8px 15px;
  }

  #con1 .text h3 {
    font-size: 1.5rem;
  }

  #con1 .text p {
    font-size: 0.9rem;
  }
  .col-6 img {
    width: 100%;
    height: 50%;
  }
  #con1 {
    background: url("/assets/homebg-1.jpg");
    background-size: cover;
    height: auto;
    padding: 20px;
  }
  #con1 .row {
    margin-top: 0pc;
  }

  #con1 .animated-btn {
    font-size: 14px;
    padding: 8px 15px;
  }

  #con1 .text h3 {
    font-size: 1.5rem;
  }

  #con1 .text p {
    font-size: 0.9rem;
  }
  .col-6 img {
    width: 100%;
    height: 50%;
  }
  #con3 i {
    font-size: 1.2em;
    color: gold;
  }
  #con3 {
    margin-top: 0;
  }

  #con8 .header h6 {
    margin-top: 1pc;
    font-size: 0.9em;
  }

  #con8 .header h2 {
    font-size: 1.2em;
  }

  #con8 .products {
    font-size: 1.5em;
  }

  #con8 .name {
    font-size: 0.8em;
  }
}
