<app-navbar></app-navbar>
<div class="container-fluid" id="con1">
  <div class="row">
    <div #content class="col-5 content">
      <img src="../assets/bg-111.png" alt="" />
    </div>
    <div #content class="col-7 content">
      <div class="text">
        <h5>FASTEST GROWING</h5>
        <h3>
          Luxurious & Premium <br />
          Products
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque velit
          <br />
          a atque unde aperiam, praesentium, veritatis voluptaa?
        </p>

        <button class="btn btn-light">Browse Collections</button>
      </div>
    </div>
  </div>
</div>

<div #content class="container-fluid content" id="con11">
  <div class="marquee">
    <div class="marquee-content">
      <img src="../assets/brand-logo-2.webp" alt="Logo 2" />
      <img src="../assets/brand-logo-3.webp" alt="Logo 3" />
      <img src="../assets/brand-logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-1.webp" alt="Logo 1" />
      <img src="../assets/Logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-2.webp" alt="Logo 2" />
      <img src="../assets/Logo-4.webp" alt="Logo 4" />

      <img src="../assets/brand-logo-2.webp" alt="Logo 2" />
      <img src="../assets/brand-logo-3.webp" alt="Logo 3" />
      <img src="../assets/brand-logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-1.webp" alt="Logo 1" />
      <img src="../assets/Logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-2.webp" alt="Logo 2" />
      <img src="../assets/Logo-4.webp" alt="Logo 4" />
    </div>
  </div>
</div>

<div class="container-fluid" id="con2">
  <div class="row">
    <div #content class="col content">
      <img src="../assets/SIDE-1.webp" alt="" />

      <div class="flower-1">
        <img src="../assets/rexap,.webp" alt="" />
      </div>
      <div class="text">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
          minus animi consequuntur nobis quas, veritatis, beatae, atque facere
          laborum accusantium expedita aperiam temporibus ad fuga esse.
          Suscipit, sequi. Laborum, magnam.
        </p>
      </div>
    </div>
    <div #content class="col content">
      <div class="flower">
        <img src="../assets/rexap,.webp" alt="" />
      </div>
      <div class="text">
        <span>REVEAL YOUR BEAUTY</span>
        <h2>Trending Beauty Cosmetics</h2>
      </div>

      <div class="side-2">
        <img src="../assets/SIDE-2.webp" alt="" />
      </div>
      <div class="bgflowe">
        <img src="../assets/FLOWER.webp" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="con3">
  <div #content class="header text-center content my-5">
    <h4>Best Products</h4>
    <h2>Body Essentials</h2>
  </div>
  <div class="row">
    <div #content class="col-3 content">
      <img src="../assets/card-4.webp" alt="" />
      <div class="details text-center">
        <h4>3 in 1 facila kit</h4>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>

        <div class="price">570/-</div>
      </div>
    </div>
    <div #content class="col-3 content">
      <img src="../assets/card-3.webp " alt="" />
      <div class="details text-center">
        <h4>3 in 1 facila kit</h4>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>

        <div class="price">570/-</div>
      </div>
    </div>
    <div #content class="col-3 content">
      <img src="../assets/card-1.jpeg" alt="" />
      <div class="details text-center">
        <h4>3 in 1 facila kit</h4>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>

        <div class="price">570/-</div>
      </div>
    </div>
    <div #content class="col-3 content">
      <img src="../assets/card-2.webp" alt="" />
      <div class="details text-center">
        <h4>3 in 1 facila kit</h4>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>

        <div class="price">570/-</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="con4">
  <div class="row">
    <div #content class="col-4 content">
      <div class="box1">
        <div class="names">
          <p>GAMBARO</p>
          <h4>Face Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
      <div class="box2">
        <div class="names2">
          <p>GAMBARO</p>
          <h4>Face Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
    </div>
    <div #content class="col-4 content">
      <div class="box3">
        <div class="name3">
          <p>GAMBARO</p>
          <h4>Face Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
    </div>
    <div #content class="col-4 content">
      <div class="box4">
        <div class="names2">
          <p>GAMBARO</p>
          <h4>Face Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
      <div class="box5">
        <div class="names">
          <p>GAMBARO</p>
          <h4>Face Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="con5">
  <div class="row">
    <div #content class="col-7 content">
      <div class="text">
        <h6>WHO WE ARE</h6>
        <h3>
          Best Selling Aesthetician Skincare <br />
          Brands
        </h3>
        <p>
          Nullam euismod purus quis blandit eleifend. Nullam egestas, diam ut
          ornare ultrices, nibh metus <br />
          feugiat ante, id sclerisque ague est.
        </p>
      </div>
      <table>
        <tr>
          <td><img src="../assets/leafs.png" alt="" /></td>
          <td>
            <h5>Premium Natural Ingredients</h5>
            <p>Morbi pellentesque sem ac nulla molestie euismod.</p>
          </td>
        </tr>
        <tr>
          <td><img src="../assets/flask1.png" alt="" /></td>
          <td>
            <h5>High-quality Raw Materials</h5>
            <p>Gorbi pellentesque sem ac nulla molestie euismod.</p>
          </td>
        </tr>
        <tr>
          <td class="last"><img src="../assets/leaf1.png" alt="" /></td>
          <td>
            <h5>End-to-end Beauty Solution</h5>
            <p>
              Duis eleifend ipsum a justo vehicula, ut vestibulum sem volutpat.
              <br />
              Donec at aliquam purus. Mauris.
            </p>
          </td>
        </tr>
      </table>

      <button class="btn">
        Explore Now <i class="bi bi-arrow-up-right"></i>
      </button>
    </div>
    <div #content class="col-5 d-flex content">
      <div class="box">
        <img src="../assets/patten-02.webp" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="con6">
  <div #content class="header text-center content">
    <h6>BRANDED COSMETICS</h6>
    <h2>New Arrivals on Store</h2>
  </div>
  <div class="row">
    <div #content class="col-3 content">
      <div class="box">
        <h3>Body Essentials</h3>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
      </div>
    </div>
    <div #content class="col-3 content">
      <div class="box">
        <h3>Body Essentials</h3>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
      </div>
    </div>
    <div #content class="col-3 content">
      <div class="box">
        <h3>Body Essentials</h3>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
      </div>
    </div>
    <div #content class="col-3 content">
      <div class="box">
        <h3>Body Essentials</h3>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/soap.jpg" alt="" />
          <div class="details">
            <h5>Beauty Bar</h5>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>

            <div class="price">570/-</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="con7">
  <div #content class="head text-center content">
    <span>TESTIMONIALS</span>
    <h3>What Our Clients Say</h3>
  </div>
  <div class="container-fluid" id="car">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/testmonials.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/testmonials.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/testmonials.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/testmonials.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="con81">
  <div class="container-fluid" id="con8">
    <div #content class="header text-center content">
      <h6>BEST IN MARKET</h6>
      <h2>Healthiest Cosmetics</h2>
    </div>
    <div class="row">
      <div class="col">
        <div class="products">4300k</div>
        <div class="name">Products Sold</div>
      </div>
      <div class="col">
        <div class="products">99.99 %</div>
        <div class="name">Satisfaction Guranteed</div>
      </div>
      <div class="col">
        <div class="products">42 K</div>
        <div class="name">Customers Satisfied</div>
      </div>
      <div class="col">
        <div class="products">0.01 %</div>
        <div class="name">Defective Returns</div>
      </div>
    </div>
    <p class="text-center my-5">
      Fusce id aliquet justo. Etiam aliquet elit eleifend quam commodo sagittis.
      Quisque dapibus nulla in <br />
      blandit dictum. Quisque dapibus nulla in blandit dictum.
    </p>
  </div>
</div>

<div class="container-fluid" id="con9">
  <div #content class="head text-center content">
    <span> LATEST </span>
    <h3>News & Blogs</h3>
  </div>
  <div class="row">
    <div #content class="col content">
      <div class="box">
        <img src="../assets/blog-1.webp" alt="" />
        <h3>Premium feather-light, comfortable lipstick</h3>
        <p>
          Distinctively reconceptualize resource maximizing methodologies for
          enterprise strategic theme areas. Energistically revolutionize high...
        </p>
        <a href="">Read More</a>
      </div>
    </div>
    <div #content class="col content">
      <div class="box">
        <img src="../assets/blog-2.webp" alt="" />
        <h3>Long-lasting & quick dry nail polish set</h3>
        <p>
          Distinctively reconceptualize resource maximizing methodologies for
          enterprise strategic theme areas. Energistically revolutionize high...
        </p>
        <a href="">Read More</a>
      </div>
    </div>
    <div #content class="col content">
      <div class="box">
        <img src="../assets/blog-3.webp" alt="" />
        <h3>Wrinkles & acne free best night serum</h3>
        <p>
          Distinctively reconceptualize resource maximizing methodologies for
          enterprise strategic theme areas. Energistically revolutionize high...
        </p>
        <a href="">Read More</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
