.content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}
#con3 {
  margin-top: -20pc;
  margin-bottom: 5pc;
  cursor: pointer;
}

#con3 img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#con3 i {
  font-size: 20px;
  color: gold;
}
#con4 .box1 {
  background: url("/assets/box-1.webp");
  background-size: cover;
  margin-bottom: 15px;
  border: 1px solid;
  width: 100%;
  height: 18pc;
}
#con4 .box2 {
  background: url("/assets/box-2.webp") center center;
  background-size: cover;
  margin-bottom: 15px;
  border: 1px solid;
  width: 100%;
  height: 18pc;
}
#con4 .box4 {
  background: url("/assets/box-4.webp");
  background-size: cover;
  margin-bottom: 15px;
  border: 1px solid;
  width: 100%;
  height: 18pc;
}
#con4 .box5 {
  background: url("/assets/box-5.webp");
  background-size: cover;
  margin-bottom: 15px;
  border: 1px solid;
  width: 100%;
  height: 18pc;
}
#con4 .box3 {
  background: url("/assets/box-3.webp");
  background-size: cover;
  margin-bottom: 15px;
  width: 100%;
  height: 37pc;
  border: 1px solid;
}
#con4 .names {
  margin-top: 4pc;
  margin-left: 5pc;
}
#con4 .names2 {
  margin-top: 4pc;
  margin-left: 15pc;
}
#con4 .name3 {
  margin-top: 15pc;
  margin-left: 5pc;
}
#con4 p {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
}

#con4 h4 {
  font-size: 2em;
}
#con4 .btn {
  padding: 0;
  border-radius: 0;
  border-bottom: 2px solid;
}
#con4 {
  margin-top: 10pc;
  margin-bottom: 0pc;
}

#con7 .details {
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  position: relative;
  top: 5.5pc;
  border: 1px solid;
}
#con7 .card {
  background: url("/assets/brush.webp");
  background-position: center;
  background-size: cover;
  border: none;
  width: 20pc;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#con7 .card img {
  border-radius: 8pc;
  width: 8pc;
  height: 8pc;
}

#con7 .head h3 {
  font-size: 3em;
}
#con81 {
  background-color: #e5d7bc;
}
#con8 {
  margin-top: 5pc;
  background: url("/assets/flowe bg.png");
  background-size: cover;
  height: auto;
  padding-top: 5px;
}

#con8 .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#con8 .header h6 {
  margin-top: 3pc;
  font-size: 20px;
}
#con8 .header h2 {
  font-size: 3em;
}

#con8 .products {
  font-size: 3em;
  font-weight: 500;
}

#con8 .name {
  font-size: 1em;
}

#con9 {
  margin-top: 4pc;
}

#con9 .box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
#con9 .box img {
  width: 100%;
  height: auto;
}

#con9 .box a {
  width: 50%;

  text-decoration: none;
  color: black;
  padding: 5px;
}
@media (max-width: 768px) {
  #con1 {
    background: url("/assets/homebg-1.jpg");
    background-size: cover;
    height: auto;
    padding: 20px;
  }
  #con1 .row {
    margin-top: 0pc;
  }

  #con1 .animated-btn {
    font-size: 14px;
    padding: 8px 15px;
  }

  #con1 .text h3 {
    font-size: 1.5rem;
  }

  #con1 .text p {
    font-size: 0.9rem;
  }
  .col-6 img {
    width: 100%;
    height: 50%;
  }
  #con3 i {
    font-size: 1.2em;
    color: gold;
  }
  #con3 {
    margin-top: 0;
  }

  #con8 .header h6 {
    margin-top: 1pc;
    font-size: 0.9em;
  }

  #con8 .header h2 {
    font-size: 1.2em;
  }

  #con8 .products {
    font-size: 1.5em;
  }
  #con4 {
    margin-bottom: 0;
  }

  #con8 .name {
    font-size: 0.8em;
  }
}
