<!-- product-carousel.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="content-body">
        <h1 class="content-title d-flex justify-content-start">Our Products</h1>
        <p class="content-text">
          Indulge in the sensory journey of our visually captivating and
          meticulously curated product <br />
          showcase, designed to elevate your skincare experience.
        </p>
      </div>
    </div>
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel "
    data-interval="2000"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <img src="..\assets\OIL.jpg" />
              <div class="card-body">
                <h5 class="card-title">OMEGA-3 FISH OIL</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="border-radius: 0px">
              <img src="../assets/MF.jpg" />
              <div class="card-body">
                <h5 class="card-title">MOCKUPFREE</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="border-radius: 0px">
              <img src="../assets/Massage.jpg" />
              <div class="card-body">
                <h5 class="card-title">Skin massage tools</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-4">
            <div class="card" style="border-radius: 0px">
              <img src="../assets/OIL.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">OMEGA-3 FISH OIL</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="../assets/MF.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">MOCKUPFREE</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="border-radius: 0px">
              <img src="../assets/Bottle.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Skin massage tools</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Previous</span> -->
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Next</span> -->
    </a>
  </div>
</div>

<app-testnomial></app-testnomial>
