<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-end">
      <h2>categorieS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4" id="beauty">
      <img class="collect" src="../assets/beautycollect.jpg" />
    </div>
    <div class="col-5" id="sec-col">
      <div class="row">
        <div class="col-6" id="inner-col">
          <img class="crm" src="../assets/cream.jpg" />
        </div>
        <div class="col-6" id="inner-col">
          <img class="showbttl" src="../assets/threebottles.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-4" id="inner-col">
          <img class="pwdbttl" src="../assets/Powderedbottle.jpg" />
        </div>
        <div class="col-8" id="inner-col">
          <img class="cutbttl" src="../assets/cutebottle.jpg" />
        </div>
      </div>
    </div>
    <div class="col-3" id="third-col">
      <div class="row">
        <div class="col-6" id="inner-col">
          <img class="yellow" src="../assets/yellowbttl.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-6" id="inner-col">
          <img class="bttl" src="../assets/Bottle.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-cards></app-cards>
