<div class="container-fluid">
  <div class="row" id="content-row">
    <div class="col">
      <p class="text">
        Nourish your skin with our carefully crafted blend of natural
        ingredients, designed to rejuvenate and <br />
        enhance your natural beauty. Experience the transformative power of
        pure, organic skincare for a radiant, <br />
        healthy complexion."
      </p>
    </div>
  </div>
  <div class="row" id="crl-row">
    <div class="col" id="cols">
      <img class="crl1" src="../assets/creambox.png" />
    </div>
    <div class="col" id="cols">
      <img class="crl1" src="../assets/creambox.png" />
    </div>
    <div class="col" id="cols">
      <img class="crl1" src="../assets/creambox.png" />
    </div>
    <div class="col" id="cols">
      <img class="crl1" src="../assets/creambox.png" />
    </div>
    <div class="col" id="cols">
      <img class="crl1" src="../assets/creambox.png" />
    </div>
    <div class="col" id="cols">
      <img class="crl1" src="../assets/creambox.png" />
    </div>
  </div>
</div>
