<app-navbar></app-navbar>
<div class="container-fluid" id="con1">
  <div class="container-fluid">
    <h2 class="">shop now</h2>
  </div>
</div>

<div class="container" id="con2">
  <div class="row">
    <div class="col-6 col-md-4">
      <div class="box">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
          >
            product categories
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">Creams</div>
            <div class="dropdown-item">Powders</div>
            <div class="dropdown-item">Spraces</div>
            <div class="dropdown-item">Maks</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="box justify-content-end d-flex">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
          >
            sorting products
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">Latest</div>
            <div class="dropdown-item">low price</div>
            <div class="dropdown-item">popularity</div>
            <div class="dropdown-item">hight price</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="box d-flex">
        <input
          type="search"
          name=""
          id=""
          placeholder="search products/brands..."
        />
        <i class="bi bi-search"></i>
      </div>
    </div>
  </div>
</div>

<!------------ products----------------->

<app-cards></app-cards>

<div class="container-fluid" id="car">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/cr-4.webp" class="d-block w-100" />
      </div>

      <div class="carousel-item">
        <img src="../assets/cr-3.webp" class="d-block w-100" />
      </div>

      <div class="carousel-item">
        <img src="../assets/cr-5.webp" class="d-block w-100" />
      </div>
    </div>

    <!-- Left and right controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<app-footer></app-footer>
