<div class="container-fluid" id="con2">
  <div class="row">
    <div #content class="col-12 col-md-6 content">
      <img src="../assets/SIDE-1.webp" alt="" />

      <div class="flower-1">
        <img src="../assets/rexap,.webp" alt="" />
      </div>
      <div class="text">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
          minus animi consequuntur nobis quas, veritatis, beatae, atque facere
          laborum accusantium expedita aperiam temporibus ad fuga esse.
          Suscipit, sequi. Laborum, magnam.
        </p>
      </div>
    </div>
    <div #content class="col-12 col-md-6 content">
      <div class="flower">
        <img src="../assets/rexap,.webp" alt="" />
      </div>
      <div class="text">
        <span>REVEAL YOUR BEAUTY</span>
        <h2>Trending Beauty Cosmetics</h2>
      </div>

      <div class="side-2">
        <img src="../assets/SIDE-2.webp" alt="" />
      </div>
      <div class="bgflowe">
        <img src="../assets/FLOWER.webp" alt="" />
      </div>
    </div>
  </div>
</div>
