<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <div class="text">
        <h1>About Us</h1>
      </div>
      <div class="flowers">
        <div class="border-overlay"></div>
        <img class="flwr" src="../assets/flowersgurl.jpg" />
      </div>
    </div>
    <div class="col-5">
      <div class="About-us-text">
        <div class="tittle">INIZIO: New Beginings</div>
        <div class="begin-content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi
            natus modi. Commodi sequi dolorum molestiae qui, id voluptatibus
            quaerat, vitae molestias perferendis fugiat adipisci in minus aut
            saepe dolor cum. Mollitia facere itaque officiis quam magni ipsa
            sapiente maiores tempora ullam architecto praesentium, culpa quae,
            enim aut pariatur corrupti id perferendis iste, aspernatur animi
            libero corporis. Nulla id quibusdam autem unde eum cum provident,
            veniam vel corrupti accusantium et maxime pariatur, esse natus
            consectetur molestiae itaque deleniti cupiditate! Veritatis magni
            totam hic voluptas itaque veniam ut, illo alias enim!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-treatment></app-treatment>
<app-category></app-category>
