.container-fluid {
  height: 110vh;
  background-color: #f4f0ed;
  font-family: "Playfair Display", serif;
}

.text {
  margin-top: 90px;
  margin-left: 70px;

  margin-bottom: 60px;
}
h1 {
  font-size: 54px;
  font-weight: 500;
  margin-left: 1em;
}
.flwr {
  width: 700px;
  /* top: 50px; */
  left: 90px;
  /* padding-top: 120px;
    padding-left: 90px; */
  border-radius: 15px;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}
.border-overlay {
  position: absolute;
  width: 680px;
  height: 440px;
  border: 3px solid white;
  z-index: 2;
  border-radius: 20px;

  margin-top: 30px;
  margin-left: 60px;
}
.About-us-text {
  margin-top: 16em;
}
#about-content {
  padding-left: 0px;
}
.begin-content p {
  font-size: 1.1em;
}
.tittle {
  font-size: 2em;
  font-weight: 600;
}
