<nav class="navbar navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <h3>Glow<span>Grove</span></h3>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNav"
      #navbarNav
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            fragment="home"
            routerLink="home"
            (click)="scrollToSection('home')"
            (click)="closeNav()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            fragment="about"
            (click)="scrollToSection('about')"
            (click)="closeNav()"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" (click)="closeNav()"
            >Shopping</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            (click)="scrollToSection('gellary')"
            (click)="closeNav()"
            >Gallery</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            (click)="scrollToSection('blog')"
            (click)="closeNav()"
            >Blog</a
          >
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <i class="bi bi-person" routerLink="/user/login"></i>
    </div>
  </div>
</nav>
