<div class="list">
  <div class="row align-items-center mb-4">
    <div class="col-md-4">
      <h2>Order List</h2>
    </div>

    <div class="col-md-4 d-flex justify-content-end">
      <input type="search" class="form-control me-2" placeholder="Search" />
      <button class="btn btn-success">Search</button>
    </div>
  </div>
  <div class="container">
    <table class="table table-striped table-hover">
      <thead class="sticky-top">
        <tr class="table-success">
          <td>id</td>
          <td>productid</td>
          <td>pname</td>
          <td>quantity</td>
          <td>pincode</td>
          <td>address</td>
          <td>phnumber</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.orderid }}</td>
          <td>{{ order.productId }}</td>
          <td>{{ order.pname }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.pincode }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.phnumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
