<div class="container">
  <div class="header">Your Order</div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img [src]="product.imageUrl" alt="orderproduct" />
    </div>
    <div class="col">
      <div class="details">
        <p>
          <span>{{ product.pname }}</span>
        </p>
        <p><span>Quantity:</span>{{ quantity }}</p>
        <p><span>Total price:</span>{{ product.price * quantity }}/-</p>
        <p>You have saved 480/-</p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="box p-4">
    <div class="header mb-4">Billing Details</div>
    <form [formGroup]="orderform" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="orderid" class="form-label">Order ID</label>
          <input
            type="text"
            class="form-control"
            id="orderid"
            formControlName="orderid"
          />
          <div
            *ngIf="
              orderform.get('orderid').invalid &&
              orderform.get('orderid').touched
            "
            class="text-danger"
          >
            Order ID is required.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="fullname" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fullname"
            formControlName="fullname"
          />
          <div
            *ngIf="
              orderform.get('fullname').invalid &&
              orderform.get('fullname').touched
            "
            class="text-danger"
          >
            Full Name is required.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="pincode" class="form-label">Pincode</label>
          <input
            type="text"
            class="form-control"
            id="pincode"
            formControlName="pincode"
          />
          <div
            *ngIf="
              orderform.get('pincode').invalid &&
              orderform.get('pincode').touched
            "
            class="text-danger"
          >
            Pincode must be 6 digits long.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="phnumber" class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phnumber"
            formControlName="phnumber"
          />
          <div
            *ngIf="
              orderform.get('phnumber').invalid &&
              orderform.get('phnumber').touched
            "
            class="text-danger"
          >
            Phone number must be 10 digits long.
          </div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="address" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            formControlName="address"
          />
          <div
            *ngIf="
              orderform.get('address').invalid &&
              orderform.get('address').touched
            "
            class="text-danger"
          >
            Address is required.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="productId" class="form-label">Product ID</label>
          <input
            type="text"
            class="form-control"
            id="productId"
            formControlName="productId"
          />
          <div
            *ngIf="
              orderform.get('productId').invalid &&
              orderform.get('productId').touched
            "
            class="text-danger"
          >
            Product ID is required.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input
            type="text"
            class="form-control"
            id="quantity"
            formControlName="quantity"
          />
          <div
            *ngIf="
              orderform.get('quantity').invalid &&
              orderform.get('quantity').touched
            "
            class="text-danger"
          >
            Quantity is required.
          </div>
        </div>

        <button type="submit" class="btn btn-primary rounded form-control mt-3">
          Confirm Order
        </button>
      </div>
    </form>
  </div>
</div>
