<div class="container-fluid" id="c-2">
  <div class="row d-flex justify-content-center">
    <div
      class="col-6 col-md-3"
      *ngFor="let p of products"
      (click)="shopnow(p.productid)"
    >
      <div class="card">
        <img [src]="p.imageUrl" alt="Product Image" />
      </div>
      <div class="details">
        <div class="pname text-center">{{ p.pname }}</div>
        <p class="text-danger text-center">Upto 20% off 1000</p>
        <div class="cost text-center">only {{ p.price }}/-</div>
      </div>
    </div>
  </div>
</div>
