<app-navbar></app-navbar>
<div class="container-fluid" id="con1">
  <div class="row">
    <div class="col-1 d-none d-md-block"></div>
    <div #content class="col-12 col-md-7 content">
      <div class="text">
        <h5>FASTEST GROWING</h5>
        <h3>
          Luxurious & Premium <br />
          Products
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque velit
          <br />
          a atque unde aperiam, praesentium, veritatis voluptaa?
        </p>

        <button class="cssbuttons-io">
          <span> Browse Collections</span>
        </button>
      </div>
    </div>
    <div #content class="col-12 col-md-4 content"></div>
  </div>
</div>

<div #content class="container-fluid content" id="con11">
  <div class="marquee">
    <div class="marquee-content">
      <img src="../assets/brand-logo-2.webp" alt="Logo 2" />
      <img src="../assets/brand-logo-3.webp" alt="Logo 3" />
      <img src="../assets/brand-logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-1.webp" alt="Logo 1" />
      <img src="../assets/Logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-2.webp" alt="Logo 2" />
      <img src="../assets/Logo-4.webp" alt="Logo 4" />
      <img src="../assets/brand-logo-2.webp" alt="Logo 2" />
      <img src="../assets/brand-logo-3.webp" alt="Logo 3" />
      <img src="../assets/brand-logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-1.webp" alt="Logo 1" />
      <img src="../assets/Logo-5.webp" alt="Logo 5" />
      <img src="../assets/Logo-2.webp" alt="Logo 2" />
      <img src="../assets/Logo-4.webp" alt="Logo 4" />
    </div>
  </div>
</div>
