#car {
  margin-top: 5pc;
}

#con1 {
  background: url("/assets/bread-crumb-img.jpg");
  background-size: cover;
  height: 70vh;
}
#con1 .container-fluid {
  padding-top: 5pc;
  height: 70vh;
  background-color: rgba(236, 229, 204, 0.5);
}

#con2 {
  margin-top: 5pc;
}
#con2 .box input {
  width: 80%;
  padding: 5px;
  border: 1px solid;
  background: transparent;
}

i {
  cursor: pointer;
  font-size: 30px;
  margin-left: 1pc;
}

#c-1 {
  margin-top: 3pc;
}
#c-1 .card {
  border: none;
  width: 20pc;
  height: 15pc;
}

#c-1 .card .text {
  font-size: 18px;
  font-weight: 600;
}
#c-1 .m1 img {
  width: 8pc;
  margin-left: 4pc;
}
#c-1 .m2 img {
  margin-left: 3pc;
  width: 10pc;
  margin-bottom: 1pc;
}
#c-1 .m3 img {
  margin-left: -1pc;
  width: 18pc;
  margin-bottom: 1pc;
}
#c-1 .m4 img {
  margin-left: 4pc;
  width: 10pc;
  margin-bottom: 1pc;
}
#c-1 .m5 img {
  margin-top: 15px;
  margin-left: 3pc;
  width: 10pc;
  margin-bottom: 1pc;
}
#c-2 {
  margin-top: 5pc;
  margin-bottom: 5pc;
  align-items: center;
}

#c-2 .card {
  background: transparent;
  border: none;
  width: 20pc;
  height: 26pc;
  overflow: hidden;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  transition: all 0.2s ease-in-out;
}
#c-2 .card:hover {
  background: transparent;
  border: none;
  width: 22pc;
  height: 27pc;
  overflow: hidden;
  box-shadow: 0 0 30px rgb(0 0 0 / 50%);
}
#c-2 .row {
  margin-bottom: 5pc;
}
#c-2 i {
  z-index: 1;
  color: #211f1f;
  position: relative;
  bottom: 32pc;
  left: 16pc;
  font-size: 2rem;
}
#c-2 .card img {
  width: 20pc;
  height: auto;
  transition: all 0.2s ease-in-out;
}
#c-2 .card img:hover {
  width: 22pc;
  height: auto;
}

.details {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}
.details .cost {
  margin-top: -18px;
  margin-bottom: 10px;
}
img {
  width: 100%;
  height: auto;
}
