nav {
  background: rgb(120, 120, 123);
  height: 60px;
}
.navbar-light {
  background-color: aliceblue !;
}
.container-1 {
  background-image: url("/assets/landingbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 48pc;
  height: 100vh;
}
.container-fluid {
  margin-top: 3pc;
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: rgba(108, 158, 251, 0.5);
}
.text h3 {
  margin-top: 5pc;
  font-size: 3pc;
  font-weight: 600;
  margin-left: 5pc;
}
.col .box {
  margin-top: 5pc;
  width: 25pc;
  height: 24pc;
  border: 3px solid;
  background-color: aqua;
}
