<div class="row align-items-center mb-4">
  <div class="col-md-4">
    <h2>Product List</h2>
  </div>
  <div class="col-md-4 text-center d-flex"></div>
  <div class="col-md-4 d-flex justify-content-end">
    <input type="search" class="form-control me-2" placeholder="Search" />
    <button class="btn btn-success">Search</button>
  </div>
</div>

<div class="container">
  <table class="table table-striped table-hover">
    <thead class="sticky-top">
      <tr class="table-success">
        <td>P_id</td>
        <td>Product name</td>
        <td>Categeroy</td>
        <td>Price</td>
        <td>Product Details</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.productid }}</td>
        <td>{{ p.pname }}</td>
        <td>{{ p.catageroy }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.details }}</td>
        <td>
          <button class="btn btn-warning">Edit</button>
        </td>

        <td>
          <button class="btn btn-danger" (click)="delete(p.productid)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
