<!-- <div class="container">
  <form [formGroup]="productform" (ngSubmit)="onsubmit()">
    <header class="text-center">Add Product Details</header>
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control m-3"
          formControlName="productid"
          placeholder="enter product id"
        />

        <select
          name="catageroy"
          class="form-control m-3"
          formControlName="catageroy"
        >
          <option value="">--please select catageroy--</option>
          <option value="men">men</option>
          <option value="women">women</option>
        </select>
        <input
          type="text"
          class="form-control"
          id="price"
          formControlName="price"
          placeholder="enter price"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control m-3"
          formControlName="pname"
          placeholder="enter product name "
        />

        <input
          type="file"
          class="form-control m-3"
          placeholder="please add picture of product"
        />
        <textarea
          name="description"
          id=""
          placeholder="write about product"
          formControlName="details"
          class="form-control m-3"
        ></textarea>
      </div>
    </div>
    <button type="reset" class="btn btn-danger">Clear Details</button>
    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div> -->

<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch login modal
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form id="loginForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control mb-3"
                placeholder="Username"
                required
              />
              <input
                type="password"
                class="form-control mb-3"
                placeholder="Password"
                required
              />
              <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
