/* .container {
  width: 60em;
  margin-top: 3em;
}
header {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(244, 65, 10);
  margin-bottom: 1.5em;
}
.form-control {
  border-bottom: 3px solid rgb(135, 229, 236);
}
#price {
  margin-left: 0.6em;
  margin-top: 2em;
}
.btn-danger {
  margin-top: 2em;
  margin-left: 10em;
  margin-bottom: 3em;
  float: left;
}
.btn-primary {
  margin-top: 2em;
  margin-right: 10em;
  float: right;
} */
h5 {
  margin-left: 16pc;
}
