.card {
  margin-top: 5pc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33pc;
  width: 23pc;
}
.card img {
  width: 23pc;
  height: 22pc;
  border-radius: 8px;
}
