#con1 {
  background: url("/assets/bread-crumb-img.jpg");
  background-size: cover;
  height: auto;
  font-family: "Times New Roman", Times, serif;
}
#con1 img {
  width: 80%;
  height: auto;
}
#con1 .container-fluid {
  padding-top: 5pc;
  height: 60vh;
  background-color: rgba(236, 229, 204, 0.5);
}

#con {
  margin-top: 5pc;
  height: auto;
  overflow: hidden;
}
#con h1 {
  font-weight: 500;
  font-size: 3rem;
}
.product-img {
  display: flex;
  justify-content: center;
}
.product-img img {
  width: 30pc;
  height: auto;
}
.details p {
  font-weight: 100;
  font-size: medium;
}
p i {
  color: gold;
}
.row button {
  background: #ecdec1;
  border: 1px solid;
  padding: 10px 30px;
}

#c-2 {
  margin-top: 5pc;
  margin-bottom: 5pc;
}

#c-2 .card {
  width: 18pc;
  height: 26.9pc;
  border: 3px solid burlywood;
  overflow: hidden;
}
#c-2 .row {
  margin-bottom: 5pc;
}
.price span {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 0pc;
  color: rgb(228, 140, 154);
}

#c-2 .card img {
  width: 18pc;
  height: 18pc;
}
.details {
  font-size: 20px;
  font-weight: 600;
}
.details .cost {
  margin-top: -18px;
  margin-bottom: 10px;
}

.quantity-control button {
  background: none;
  border: none;
  color: #d7cbb0;
  font-size: 3rem;
}
td {
  font-size: 1rem;
  font-weight: 200;
}
td .header {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  #con1 {
    display: flex;

    align-items: center;
    justify-content: center;
  }
  img {
    margin-top: 20%;
    margin-left: 10%;
    width: 100%;
    height: auto;
  }
  .product-img img {
    padding: 0px 90px 0px 50px;
  }
  #con {
    margin-top: 0pc;
  }
  .details {
    padding-left: 50px;
    padding: 20px;
  }
  button {
    background: #ecdec1;
    border: 1px solid;
    padding: 5px 8px;
    font-size: medium;
  }
}
