<div class="container-fluid" id="con9">
  <div #content class="head text-center content">
    <span> LATEST </span>
    <h3>News & Blogs</h3>
  </div>
  <div class="row">
    <div #content class="col-md-4 col-12 content">
      <div class="box">
        <img src="../assets/blog-1.webp" alt="" />
        <h3>Premium feather-light, comfortable lipstick</h3>
        <p>
          Distinctively reconceptualize resource maximizing methodologies for
          enterprise strategic theme areas. Energistically revolutionize high...
        </p>
        <a href="">Read More</a>
      </div>
    </div>
    <div #content class="col-md-4 col-12 content">
      <div class="box">
        <img src="../assets/blog-2.webp" alt="" />
        <h3>Long-lasting & quick dry nail polish set</h3>
        <p>
          Distinctively reconceptualize resource maximizing methodologies for
          enterprise strategic theme areas. Energistically revolutionize high...
        </p>
        <a href="">Read More</a>
      </div>
    </div>
    <div #content class="col-md-4 col-12 content">
      <div class="box">
        <img src="../assets/blog-3.webp" alt="" />
        <h3>Wrinkles & acne free best night serum</h3>
        <p>
          Distinctively reconceptualize resource maximizing methodologies for
          enterprise strategic theme areas. Energistically revolutionize high...
        </p>
        <a href="">Read More</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="con81">
  <div class="container-fluid" id="con8">
    <div #content class="header text-center content">
      <h6>BEST IN MARKET</h6>
      <h2>Healthiest Cosmetics</h2>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 text-center">
        <div class="products">4300k</div>
        <div class="name">Products Sold</div>
      </div>
      <div class="col-6 col-md-6 text-center">
        <div class="products">99.99 %</div>
        <div class="name">Satisfaction Guranteed</div>
      </div>
      <div class="col-6 col-md-6 text-center">
        <div class="products">42 K</div>
        <div class="name">Customers Satisfied</div>
      </div>
      <div class="col-6 col-md-6 text-center">
        <div class="products">0.01 %</div>
        <div class="name">Defective Returns</div>
      </div>
    </div>
    <p class="text-center my-5">
      Fusce id aliquet justo. Etiam aliquet elit eleifend quam commodo sagittis.
      Quisque dapibus nulla in <br />
      blandit dictum. Quisque dapibus nulla in blandit dictum.
    </p>
  </div>
</div>

<div class="container" id="con7">
  <div #content class="head text-center content">
    <span>TESTIMONIALS</span>
    <h3>What Our Clients Say</h3>
  </div>
  <div class="container-fluid" id="car">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/review-2.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/testmonials.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/review-3.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ratione quisquam culpa, totam ut consectetur, <br />
              consequuntur a praesentium quod enim adipisci laudantium molestias
              omnis aliquam animi<br />
              odio rerum modi exercitationem.
            </p>
            <hr />
            <div class="details">
              <div class="card">
                <img src="../assets/review-4.webp" alt="" />
                <div class="name">
                  Barbara palvin
                  <p>Best Model</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
