<div class="container-fluid content" id="con4" #content>
  <h2 class="text-center">Gellary</h2>
  <div class="row">
    <div #content class="col-12 col-md-4 content">
      <div class="box1 content" #content>
        <div class="names">
          <p>GAMBARO</p>
          <h4>Face Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
      <div class="box2">
        <div class="names2">
          <p>MARIEKE</p>
          <h4>Hair Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
    </div>

    <div #content class="col-12 col-md-4 content">
      <div class="box3">
        <div class="name3">
          <p>QUEENS</p>
          <h4>Body Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
    </div>

    <div #content class="col-12 col-md-4 content">
      <div class="box4">
        <div class="names2">
          <p>LECIA</p>
          <h4>Leg Care</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
      <div class="box5">
        <div class="names">
          <p>ISELA</p>
          <h4>Fragrance</h4>
          <button class="btn">view Collections</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="con5">
  <div class="row">
    <div #content class="col-12 col-md-7 content">
      <div class="text">
        <h6>WHO WE ARE</h6>
        <h3>
          Best Selling Aesthetician Skincare <br />
          Brands
        </h3>
        <p>
          Nullam euismod purus quis blandit eleifend. Nullam egestas, diam ut
          ornare ultrices, nibh metus <br />
          feugiat ante, id sclerisque ague est.
        </p>
      </div>
      <table>
        <tr>
          <td><img src="../assets/leafs.png" alt="" /></td>
          <td>
            <h5>Premium Natural Ingredients</h5>
            <p>Morbi pellentesque sem ac nulla molestie euismod.</p>
          </td>
        </tr>
        <tr>
          <td><img src="../assets/flask1.png" alt="" /></td>
          <td>
            <h5>High-quality Raw Materials</h5>
            <p>Gorbi pellentesque sem ac nulla molestie euismod.</p>
          </td>
        </tr>
        <tr>
          <td class="last"><img src="../assets/leaf1.png" alt="" /></td>
          <td>
            <h5>End-to-end Beauty Solution</h5>
            <p>
              Duis eleifend ipsum a justo vehicula, ut vestibulum sem volutpat.
              <br />
              Donec at aliquam purus. Mauris.
            </p>
          </td>
        </tr>
      </table>

      <button class="btn">
        Explore Now <i class="bi bi-arrow-up-right"></i>
      </button>
    </div>
    <div #content class="col-12 col-md-5 d-flex content">
      <div class="box">
        <img src="../assets/patten-02.webp" alt="" />
      </div>
    </div>
  </div>
</div>
