#con5 .box {
  background: url("/assets/right.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
#con5 .box img {
  width: 30pc;
  height: auto;
  margin-top: 24pc;
  margin-left: -12pc;
}
#con5 .text {
  margin-left: 15px;
}
#con5 .text h3 {
  margin-top: 2pc;
  font-size: 2.5em;
}
#con5 .text p {
  margin-top: 2pc;
}
#con5 .btn {
  border: #ffedbd;
  border-radius: 0px;
  padding: 10px 40px;
  background: #ffedbd;
  margin-top: 1pc;
  margin-left: 2pc;
}

#con5 table {
  margin-top: 5pc;
}
#con5 tr {
  margin-top: 2pc;
}
#con5 td img {
  width: 5pc;
  height: 5pc;
  margin-left: 2pc;
}
#con5 .last img {
  width: 8pc;
  height: 8pc;
  margin-left: 4px;
}
#con5 {
  margin-top: 10pc;
}
@media (max-width: 768px) {
  #con5 .box img {
    width: 60%;
    height: auto;
    position: relative;
    left: 10pc;
  }
  #con5 .box {
    background: url("/assets/right.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
  }

  #con5 .text {
    margin-left: 0;
    margin-top: 0;
  }

  #con5 .text h3 {
    font-size: 1.8em;
  }

  #con5 .btn {
    margin-left: 5pc;
    margin-bottom: 2pc;
  }

  #con5 table {
    margin-top: 2pc;
  }

  #con5 td img {
    width: 4pc;
    height: 4pc;
    margin-left: 0;
  }

  #con5 .last img {
    width: 6pc;
    height: 6pc;
  }
}
