<!-- <div class="container-fluide">
  <div class="box">
    <div class="header text-center">Admin Login</div>
    <form (ngSubmit)="onsubmit()">
      <input
        type="text"
        placeholder="username"
        [(ngModel)]="logindata.mail"
        name="email"
      />
      <input
        type="password"
        placeholder="password"
        [(ngModel)]="logindata.password"
        name="password"
      />
      <div class="forgot"><a routerLink="#">forgot password ?</a></div>
      <button class="btn btn-success">Login</button>
    </form>
    <div class="mdg">{{ errmsg }}</div>
  </div>
</div> -->
